---
layout: default
title: Blog
---

{% for post in paginator.posts %}
<h2>{{ post.title }}</h2>
<h3>{{ post.date | date_to_string }} - by {{ post.author }}</h3>

{{ post.excerpt }}

<a href="{{ post.url }}">Read more...</a>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div id="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">&lt; Previous</a>
  {% else %}
    <span>&lt; Previous</span>
  {% endif %}
  
  <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next &gt;</a>
  {% else %}
    <span>Next &gt;</span>
  {% endif %}
</div>
{% endif %}