<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ page.title }}</title>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	<script src="js/every-page.js"></script>
	
	<link rel="stylesheet" href="css/desktop.css" media="screen" />
	<link rel="stylesheet" href="css/print.css" media="print" />
	<link rel="stylesheet" href="css/mobile.css" media="only screen and (max-device-width: 480px)">
</head>

<body>
	<div id="wrapper">
		<header id="header">
			<h1>Code Club</h1>
			<div id="tagline">JavaScript Is Magic</div>
		</header>

		<nav>
			<ul>
				<li><a href="/index.html">Home</a></li>
				<li><a href="/about.html">About</a></li>
				<li><a href="/blog/">Blog</a></li>
				<li><a href="/projects.html">Projects</a></li>
				<li><a href="/members.html">Members</a></li>
			</ul>
		</nav>

		<div id="content">
			{{ content }}
		</div>

		<footer>
			&copy; LaVerne Code Club
		</footer>
	</div>
</body>

</html>